<h1>Press</h1>

<%= error_messages_for :article %>

<% form_for([:admin,@article]) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Body</b><br />
    <%= f.text_area :body %>
  </p>

  <p>
    <b>State</b><br />
    <%= f.select :state, Article.states %>
  </p>

  <p>
    <b>Date published</b><br />
    <%= f.date_select :date_published %>
  </p>

  <p>
    <b>Publication name</b><br />
    <%= f.text_field :publication_name %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', admin_article_path(@article) %> |
<%= link_to 'Back', admin_articles_path %>
