<h1>Press</h1>

<%= error_messages_for :article %>

<% form_for([:admin,@article], :html => {:multipart => true}) do |f| %>
<p>
	<b>Title</b><br />
	<%= f.text_field :title %>
</p>

<p>
	<b>Body</b><br />
	<%= f.text_area :body, :class => :press_body %>
</p>

<p>
	<b>State</b><br />
	<%= f.select :state, Article.states %>
</p>

<p>
	<b>Date Published</b><br />
	<%= f.date_select :date_published %>
</p>

<p>
	<b>Publication Name</b><br />
	<%= f.text_field :publication_name %>
</p>

<p>
	<b>Publication Logo</b><br />
	<%= f.file_field :uploaded_data_img_publication %>
</p>


<% if !@article.attachments.img_publication.nil? %>
<%= image_tag @article.attachments.img_publication.public_filename(:thumb)  %>

<p>
	<%= label :article, :remove_img_publication, "Remove Publication Logo", :class => "left" %>
	<%= f.check_box :remove_img_publication %>
</p>

<% end %>

<p>
	<b>Article Image</b><br />
	<%= f.file_field :uploaded_data_img_article %>
</p>

<% if !@article.attachments.img_article.nil? %>
<%=  image_tag @article.attachments.img_article.public_filename(:thumb) %>
<p>
	<%= label :article, :remove_img_article, "Remove Article Image", :class => "left" %>
	<%= f.check_box :remove_img_article %>
</p>  
<% end %>



<p>
	<b>Article Download (PDF)</b><br />
	<%= f.file_field :uploaded_data_content_file %>
</p>

<% if !@article.attachments.content_file.nil? %>
<p><%= link_to("Download PDF", @article.attachments.content_file.public_filename, :target => "_blank") if !@article.attachments.content_file.nil? %></p>
<p>
	<%= label :article, :remove_content_file, "Remove Article Download", :class => "left" %>
	<%= f.check_box :remove_content_file %>
</p>
<% end %>

<p>
	<%= f.submit "Update" %>
</p>
<% end %>

<%= link_to 'View', admin_article_path(@article) %> |
<%= link_to 'Back', admin_articles_path %>
