<h1>Press</h1>

<%= error_messages_for :article %>

<% form_for([:admin,@article], :html => {:multipart => true}) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Body</b><br />
    <%= f.text_area :body %>
  </p>

  <p>
    <b>State</b><br />
    <%= f.select :state, Article.states %>
  </p>

  <p>
    <b>Date published</b><br />
    <%= f.date_select :date_published %>
  </p>

  <p>
    <b>Publication name</b><br />
    <%= f.text_field :publication_name %>
  </p>

	<%= image_tag @article.attachments.img_publication.public_filename(:thumb) if @article.attachments.img_publication %>
  <p>
    <b>Publication Image</b><br />
    <%= f.file_field :uploaded_data_img_publication %>
  </p>

  <p>
    <b>Article Image</b><br />
    <%= f.file_field :uploaded_data_img_article %>
  </p>

  <p>
    <b>Content file (pdf?)</b><br />
    <%= f.file_field :uploaded_data_content_file %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', articles_path %>
