<h1><%=h @article.title %></h1>
<p><%=h @article.date_published %></p>
<h2>Publication Image:</h2>
<%= image_tag @article.attachments.img_publication.public_filename(:thumb) %>


<%= image_tag @article.attachments.img_article.public_filename(:sidebar), :class => :left %>
<%= @article.body %>


<br class="clear" /> 



<p><%= link_to 'Edit', edit_admin_article_path(@article) %> | <%= link_to 'Back', admin_articles_path %></p>
