<h2>Press</h2>
<p>Coming soon...</p>
<!-- <h2>Press</h2>

<% for article in @articles %>
  <%=h article.title %>
<%= article.body %>
    <%=h article.state %>
    <%=h article.date_published %>
    <%=h article.publication_name %>
    <%= link_to 'Show', article %>
    <%= link_to 'Edit', edit_article_path(article) %>
    <%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %>
  </tr>
<% end %>
</table> -->

