<%= render :partial => "shared/html_head_tags", :locals => {:page_item => Page.find_by_title("Press")} %>
<% @page_title = "Press" %> 

<h1>Press</h1>

<div id="outer_scroll">

	<div id="scroll_box" class="noheight">

	<% @articles.each do |article| %>
	<div class="article">
		<%= link_to(image_tag( article.attachments.img_publication.public_filename(:thumb), :class => :left), article) if !article.attachments.img_article.nil? %>
		<p><%= article.date_published.strftime("%x") %></p>
		<p><%= link_to article.title, article %></p>
		<br class="clear" />
	</div>
	<br class="clear" />
	<% end %>
</div>

<span id="scroll_up"><%= image_tag "up_arrow.gif" %></span><span id="scroll_down"><%= image_tag "down_arrow.gif" %></span> 

</div>


<script type="text/javascript"> 
var div_scroll1 = new TextScroll('div_scroll1', 'scroll_box', 'scroll_up', 'scroll_down'); 
</script>