<%= render :partial => "shared/html_head_tags", :locals => {:page_item => @article} %>

<div id="outer_scroll">
	
	<h1><%= @article.title %><span id="back"><%= link_to "Back", articles_path %></span></h1>
	<h2><%= link_to("Download PDF", @article.attachments.content_file.public_filename) if !@article.attachments.content_file.nil? %></h2>

	<div id="scroll_box_sm" class="noheight">
		<p><%=h @article.publication_name %> <%=h @article.date_published.strftime("%B %d, %Y") %></p>
		<%= image_tag @article.attachments.img_article.public_filename(:sidebar), :class => :left %>
		<%= @article.body %>
	</div>
	
	<span id="scroll_up"><%= image_tag "up_arrow.gif" %></span><span id="scroll_down"><%= image_tag "down_arrow.gif" %></span> 

</div>


<script type="text/javascript"> 
var div_scroll1 = new TextScroll('div_scroll1', 'scroll_box_sm', 'scroll_up', 'scroll_down'); 
</script>