<% @page_title = "Management Team" %> 
<div id="outer_scroll">
	<h2><%= link_to "About Us", about_us_path %> <span id="manager_link"><%= link_to "Mangers", managers_path %></span></h2>

	<div id="scroll_box" class="noheight">
		<% @managers.each do |m| %>
			<div class="manager">
				<h3><%= m.name %>, <%= m.location.title %></h3>
				<%= image_tag m.photo.public_filename(:thumb), :class => :left if !m.photo.nil? %>
				<%= m.body %>
			</div>
			<br class="clear" />
		<% end %>
	</div>

	<span id="scroll_up"><%= image_tag "up_arrow.gif" %></span><span id="scroll_down"><%= image_tag "down_arrow.gif" %></span> 

</div>

<script type="text/javascript"> 
var div_scroll1 = new TextScroll('div_scroll1', 'scroll_box', 'scroll_up', 'scroll_down'); 
</script>