<% @page_title = @manager.name %> 

<h1>Management Team</h1>

<h2><%= link_to "About Us", about_us_path %> <span id="manager_link"><%= link_to "Management Team", managers_path %></span></h2>

<p><%= @manager.name %></p>
<p><%= @manager.title %></p>

<div id="outer_scroll">

	<div id="scroll_box_xsm" class="noheight">
			<%= image_tag @manager.photo.public_filename(:thumb), :class => :left if !@manager.photo.nil? %>
			<%= @manager.body %>
	</div>
	<span id="scroll_up"><%= image_tag "up_arrow.gif" %></span><span id="scroll_down"><%= image_tag "down_arrow.gif" %></span> 
</div>

<script type="text/javascript"> 
var div_scroll1 = new TextScroll('div_scroll1', 'scroll_box_xsm', 'scroll_up', 'scroll_down'); 
</script>