<h1>Editing Menu Section</h1>

<%= error_messages_for :menu_section %>

<% form_for(@menu_section,:url => admin_concept_menu_section_path(@concept, @menu_section)) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>



  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'View', admin_concept_menu_section_path(@concept,@menu_section) %> |
<%= link_to 'Back', admin_concept_menu_sections_path( @menu_section) %>
