<h1>Editing menu_section</h1>

<%= error_messages_for :menu_section %>

<% form_for(@menu_section) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Position</b><br />
    <%= f.text_field :position %>
  </p>

  <p>
    <b>Concept</b><br />
    <%= f.text_field :concept_id %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @menu_section %> |
<%= link_to 'Back', menu_sections_path %>
