<h1>New Menu Section for: <%= @concept.title %></h1>

<%= error_messages_for :menu_section %>

<% form_for([:admin,@concept,@menu_section]) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', admin_concept_menu_sections_path(@concept) %>
