<h1>Concept: <%= @concept.title %></h1>

<p>
  <b>Quote:</b>
  <%= @concept.quote %>
</p>

<p>
  <b>Body:</b>
  <%= @concept.body %>
</p>


<p id="concpet_bg_color" style="background-color:<%= @concept.bg_color %>;">
  <b>BG Color:</b> 
  <%= @concept.bg_color %>
</p>



<p>
  <b>Sidebar Image</b><br />
	<%= image_tag @concept.attachments.img_sidebar.public_filename(:thumb), :class => :thumb if !@concept.attachments.img_sidebar.nil? %><br />
</p>


<p>
   <b>Main Image</b><br />
	<%= image_tag @concept.attachments.img_main.public_filename(:thumb), :class => :thumb if !@concept.attachments.img_main.nil? %><br />
 </p>


 <p>
	<b>Concept image 1</b><br />	
	<%= image_tag @concept.attachments.img_concept1.public_filename(:thumb), :class => :thumb if !@concept.attachments.img_concept1.nil? %><br />
 
 </p>

 <p>
   <b>Concept image 2</b><br />
	<%= image_tag @concept.attachments.img_concept2.public_filename(:thumb), :class => :thumb if !@concept.attachments.img_concept2.nil? %><br />

 </p>

 <p>
   <b>Menu image 1</b><br />
	<%= image_tag @concept.attachments.img_menu1.public_filename(:thumb), :class => :thumb if !@concept.attachments.img_menu1.nil? %><br />
 
 </p>

 <p>
   <b>Menu image 2</b><br />
	<%= image_tag @concept.attachments.img_menu2.public_filename(:thumb), :class => :thumb if !@concept.attachments.img_menu2.nil? %><br />

 </p>

<%= link_to 'Edit', edit_admin_concept_path(@concept) %> |
<%= link_to 'Back', admin_concepts_path %>
