<h1>Listing menu_sections</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Position</th>
    <th>Concept</th>
  </tr>

<% for menu_section in @menu_sections %>
  <tr>
    <td><%=h menu_section.title %></td>
    <td><%=h menu_section.position %></td>
    <td><%=h menu_section.concept_id %></td>
    <td><%= link_to 'Show', menu_section %></td>
    <td><%= link_to 'Edit', edit_menu_section_path(menu_section) %></td>
    <td><%= link_to 'Destroy', menu_section, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New menu_section', new_menu_section_path %>
