<%= render :partial => "shared/html_head_tags", :locals => {:page_item => Page.find_by_title("locations")} %>

<div id="united_states">
	
	<ul class="locations_list">
		<li class="parent">UNITED STATES		
			<ul>
				<% @united_states.children.each do |c| %>
					<li class="child"><%= !c.url.blank? ? link_to(c.title, c.url, :target => "_blank") : c.title %> <%= c.phone %>
						<% if c.children.length > 0 %>
							<ul>
								<% c.children.each do |cc| %>
									<li class="sub_child"><%= !cc.url.blank? ? link_to(cc.title, cc.url, :target => "_blank") : cc.title %> <%= cc.phone %>
								<% end %>
							</ul>	
						<% end %>
					</li>
				<% end %>
			</ul>	
		</li>
	</ul>
	
</div>

<div id="international">
	<ul class="locations_list">
		<li class="parent">INTERNATIONAL		
			<ul>
				<% @international.children.each do |c| %>
						<li class="child"><%= !c.url.blank? ? link_to(c.title, c.url, :target => "_blank") : c.title %> <%= c.phone %>
							<% if c.children.length > 0 %>
								<ul>
									<% c.children.each do |cc| %>
										<li class="sub_child"><%= !cc.url.blank? ? link_to(cc.title, cc.url, :target => "_blank") : cc.title %> <%= cc.phone %>
									<% end %>
								</ul>	
							<% end %>
						</li>
				<% end %>
			</ul>	
		</li>
	</ul>
</div>

<br class="clear" />
<p>Other Jean-Georges restaurants:  <%= link_to "http://www.jean-georges.com" %></p>