<%= render :partial => "shared/html_head_tags", :locals => {:page_item => Page.find_by_title("locations")} %>

<div id="united_states">
	<ul class="locations_list">
		<li class="parent">UNITED STATES		
			<ul>
				<% @united_states.children.each do |c| %>
				<li class="child"><%= !c.url.blank? ? link_to(c.title, c.url, :class => "popup full") : c.title %>
					<!-- <%= link_to "edit", c %> | <%= link_to "up", up_location_path(c), :method => :put %> | <%= link_to "down", down_location_path(c), :method => :put %>  -->				
					<% if c.children.length > 0 %>
					<ul>
						<% c.children.each do |cc| %>
						<li class="sub_child"><%= !cc.url.blank? ? link_to(cc.title, cc.url, :class => "popup full") : cc.title %>
							<!-- <%= link_to "edit", cc %> | <%= link_to "up", up_location_path(cc), :method => :put %> | <%= link_to "down", down_location_path(cc), :method => :put %> --> </li>
							<% end %>
						</ul>	
						<% end %>

					</li>
					<% end %>
				</ul>	
			</li>
		</ul>
	</div>
	
	<div id="international">
		<ul class="locations_list">
			<li class="parent">INTERNATIONAL		
				<ul>
					<% @international.children.each do |c| %>
					<li class="child"><%= !c.url.blank? ? link_to(c.title, c.url, :class => "popup full") : c.title %>
						<!-- <%= link_to "edit", c %> | <%= link_to "up", up_location_path(c), :method => :put %> | <%= link_to "down", down_location_path(c), :method => :put %>  -->				
						<% if c.children.length > 0 %>
						<ul>
							<% c.children.each do |cc| %>
							<li class="sub_child"><%= !cc.url.blank? ? link_to(cc.title, cc.url, :class => "popup full") : cc.title %>
								<!-- <%= link_to "edit", cc %> | <%= link_to "up", up_location_path(cc), :method => :put %> | <%= link_to "down", down_location_path(cc), :method => :put %> --> </li>
								<% end %>
							</ul>	
							<% end %>


						</li>
						<% end %>
					</ul>	
				</li>
			</ul>


		</div>