<p>
  <b>Title:</b>
  <%=h @location.title %> 
</p>

<% if @location.parent %>
<p>
  <b>Parent:</b>
  <%=h @location.parent.title %>
</p>
<% end %>


<p>
  <b>Url:</b>
  <%=h @location.url %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
<%= link_to 'New', new_location_path %>
