<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<%= page_title %> 
	<%= meta "description", meta_description %> 
	<%= meta "keywords", meta_keywords %> 
	<%= stylesheet_link_tag 'main' %>
	<%= stylesheet_link_tag 'admin' %>	
	<%= stylesheet_link_tag 'scaffold' %>
	<%= javascript_include_tag "application", "rollover", "AC_RunActiveContent", "tiny_mce/tiny_mce" %>
	<script type="text/javascript">
		tinyMCE.init({
			// General options
			mode : "textareas",
			editor_deselector : "mceNoEditor",
			theme : "advanced",
			plugins : "paste",

			// Theme options
			theme_advanced_buttons1 : "pastetext,pasteword,bold,italic,underline,|,link,unlink,|,justifyleft,justifycenter,justifyright,|,cleanup,removeformat",
			theme_advanced_buttons2 : "",
			theme_advanced_toolbar_location : "top",
			theme_advanced_toolbar_align : "center",
			theme_advanced_statusbar_location : "bottom",
			// CSS Styles
			content_css : "/stylesheets/main.css",
			
			template_replace_values : {

			}
			
		});
	</script>
	<!-- /TinyMCE -->

</head>
<body>
	<div id="canvas">
		
		<div id="nav_admin">
			<ul>
				<li><%= link_to "Concepts", admin_concepts_path %></li>
				<li><%= link_to "Locations", admin_locations_path %></li>
				<li><%= link_to "Management Team", admin_managers_path %></li>
				<li><%= link_to "Press", admin_articles_path %></li>
				<li><%= link_to "Pages", admin_pages_path %></li>
				<li><%= link_to "Users", users_path %></li>	
				<li><%= link_to "Logout", logout_path %></li>				
			</ul>
		</div><!-- nav_main -->
				
		
		<div id="admin_content">
			<div id="inner_content">
				<p id="flash"><%= flash[:notice] -%><%= flash[:message] -%></p>
				<%= yield  %>
			</div>
		</div>
	
	</div>
</body>
</html>
