<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<%= page_title %> 
	<%= meta "description", meta_description %> 
	<%= meta "keywords", meta_keywords %> 
	<%= stylesheet_link_tag 'layout' %>
	<%= stylesheet_link_tag 'main' %>
	<%= stylesheet_link_tag 'scaffold' %>
	<%= javascript_include_tag "application", "rollover", "AC_RunActiveContent", "scroller" %>
	
	<% if @controller.controller_name =~ /concept/ || @controller.controller_name =~ /menu_section/ %>
	
	<style>
	
	<% if @controller.action_name =~ /quote/ && @controller.controller_name =~ /concept/ %>
	#concept {
		background:<%= @masthead_red %> url(<%= image_path @concept.attachments.img_main.public_filename(:concept) %>) top left no-repeat;
	}
	<% elsif @controller.action_name =~ /show/ && @controller.controller_name =~ /concept/ %>
	#concept {
		background:<%= @masthead_red %> url(<%= image_path @concept.attachments.img_concept1.public_filename(:square) %>) top left no-repeat;
	}
	#inner_concept {

		background:url(<%= image_path @concept.attachments.img_concept2.public_filename(:square) %>) bottom left no-repeat;
	}
	
	<% elsif  @controller.controller_name =~ /menu_section/ %>
	#concept_image_top {
		background:url(<%= image_path @concept.attachments.img_menu1.public_filename(:square) %>) top left no-repeat;
	}
	#inner_concept {
		background: url(<%= image_path @concept.attachments.img_menu2.public_filename(:square) %>) top left no-repeat;
	}

	<% end %>

	#concept_content{
		background-color:<%= @concept.bg_color %>;
	}
	</style>
	
	<% end %>


</head>
<body>

	<div id="canvas">
		<div id="nav_main">
			<ul>
				<li><%= nav_image_for("main","home") %></li>
				<li><%= nav_image_for("main","about_us") %></li>
				<li><%= nav_image_for("main","jean-georges") %></li>
				<li id="concepts" class="concepts"><%= nav_image_for("main","concepts")  %>
					<ul id="nav_concept">
						<% Concept.find(:all, :order => :position).each do |c| %>
						<li><%= link_to image_tag("nav/concepts/#{c.slug.gsub("-","_")}-off.gif"), quote_concept_path(c) %></li>
						<% end %>
					</ul>
				</li>
				<li><%= nav_image_for("main","articles") %></li>
				<li><%= nav_image_for("main","locations") %></li>
				<li><%= nav_image_for("main","gift_cards") %></li>				
				<li><%= nav_image_for("main","contact_us")  %></li>
				<li><%= nav_image_for("main","careers") %></li>
			</ul>
		</div><!-- nav_main -->
				
		<div id="sidebar">
			<%= render :partial => "public/slideshow", :locals => {:concept => @concept} %>
		</div><!-- sidebar -->
		
		<% if url_for == root_path %>
			<div id="home">
				<h1><span></span>Culinary Concepts :: Jean-Georges</h1>
				
				<div id="tag"><span></span>Local in content. Global in reach.</div>
				
				<div id="nav_home_concepts">
							<!-- <ul>
								<li><%= Concept.find(:all).collect{|concept| link_to(concept.title.upcase,concept) }.join("</li>
								<li>") %></li>
							</ul>
							<br class="clear" /> -->
				<%= yield  %>
				</div>
				
			</div>
		<% elsif @concept %>
		<div id="concept">
			<h1><span></span>Culinary Concepts :: Jean-Georges</h1>
				<div id="concept_image_top"></div>
				<div id="inner_concept">
					<div id="concept_content">
						<%= yield  %>
					</div>
				</div>
		</div>
		<% else %>
			<div id="masthead" <%= "style=\"background-image:url(#{@concept.attachments.image_main.public_filename(:main)}) top left no-repeat\"" if !@concept.nil? %>>
				<h1><span></span>Culinary Concepts :: Jean-Georges</h1>
			</div> <!-- masthead -->

			<div id="main_content" class="<%= @controller.action_name %>">
				<div id="inner_content">
					<p id="flash"><%= flash[:notice] -%><%= flash[:message] -%></p>
					<%= yield  %>
				</div>
			</div> <!-- main_content -->
		<% end %>

		<div id="footer">
			<p id="site_info"><!-- <span id="footer_links"><%= Concept.find(:all).collect{|concept| link_to(concept.title.upcase,concept) }.join(" | ") %></span> -->&copy; <%= Date.today.year %> Culinary Concepts by Jean-Georges</p>
		</div> <!-- footer -->
	</div>
	
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	var pageTracker = _gat._getTracker("UA-5743801-1");
	pageTracker._trackPageview();
	</script>
	
</body>
</html>
