<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>Culinary Concepts</title>
	<%= stylesheet_link_tag 'layout' %>
	<%= stylesheet_link_tag 'main' %>
	<%= stylesheet_link_tag 'scaffold' %>
	<%= javascript_include_tag "application", "rollover", "AC_RunActiveContent" %>
	<% if @concept %>
	<style>
	<% if @image_type == 'start' %>
	#concept {
		background:url(<%= image_path @concept.attachments.image_main.public_filename(:concept) %>) top left no-repeat;
	}
	<% elsif @image_type == "concept" %>
	#concept {
		background:url(<%= image_path @concept.attachments.image_concept1.public_filename(:square) %>) top left no-repeat;
	}
	#inner_concept {
		height:619px;
		
		background:url(<%= image_path @concept.attachments.image_concept2.public_filename(:square) %>) bottom left no-repeat;
	}
	<% elsif @image_type == "menu" %>
	#concept {
		background:url(<%= image_path @concept.attachments.image_menu1.public_filename(:square) %>) 39% 0 no-repeat;
	}
	#inner_concept {
		height:619px;
		
		background:url(<%= image_path @concept.attachments.image_menu2.public_filename(:square) %>) 0 46% no-repeat;

	}
	<% end %>
	</style>
	<% end %>

</head>
<body>
	<div id="canvas">
		<div id="nav_main">
			<ul>
				<li><%= nav_image_for("main","home") %></li>
				<li><%= nav_image_for("main","about_us") %></li>
				<li><%= nav_image_for("main","jean_georges") %></li>
				<li id="concepts" class="concepts"><%= nav_image_for("main","concepts")  %>
					<ul id="nav_concept">
						<% Concept.find(:all).each do |c| %>
						<li><%= link_to image_tag("nav/concepts/#{c.slug.gsub("-","_")}-off.gif"), quote_concept_path(c) %></li>
						<% end %>
					</ul>
				</li>
				<li><%= nav_image_for("main","press") %></li>
				<li><%= nav_image_for("main","locations") %></li>
				<li><%= nav_image_for("main","contact_us")  %></li>
				<li><%= nav_image_for("main","careers") %></li>
			</ul>
		</div><!-- nav_main -->
				
		<div id="sidebar">
			<%= render :partial => "public/slideshow", :locals => {:concept => @concept} %>
		</div><!-- sidebar -->
		
		<% if url_for == root_path %>
			<div id="home">
				<h1><span></span>Culinary Concepts :: Jean-Georges  - home</h1>
				
				<div id="tag"><span></span>Local in content. Global in reach.</div>
				
				<div id="nav_home_concepts">
				<ul>
					<li><%= ["Jean Georges", "Resort", "Spice Market", "Bistro", "Kitchen", "Modern American", "Steakhouse"].collect {|l| link_to l,l}.join("</li>
					<li>") %></li>
				</ul>
				</div>
			</div>
		<% elsif @concept %>
		<div id="concept">
			<h1><span></span>Culinary Concepts :: Jean-Georges  - home</h1>
				<div id="inner_concept">
					<div id="concept_content">
						<%= yield  %>
					</div>
				</div>
		</div>
		<% else %>
			<div id="masthead" <%= "style=\"background-image:url(#{@concept.attachments.image_main.public_filename(:main)}) top left no-repeat\"" if !@concept.nil? %>>
				<h1><span></span>Culinary Concepts :: Jean-Georges</h1>
			</div> <!-- masthead -->

			<div id="main_content" class="<%= @controller.action_name %>">
				<div id="inner_content">
					<p id="flash"><%= flash[:notice] -%><%= flash[:message] -%></p>
					<%= yield  %>
				</div>
			</div> <!-- main_content -->
		<% end %>

		<div id="footer">
			<p id="site_info"><span id="footer_links"><%= ["Jean Georges", "Resort", "Spice Market", "Bistro", "Kitchen", "Modern American", "Steakhouse"].collect {|l| link_to l,root_path}.join(" | ") %></span>&copy; <%= Date.today.year %> Culinary Concepts by Jean-Georges</p>
		</div> <!-- footer -->
	</div>
</body>
</html>
