<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>Culinary Concepts</title>
	<%= stylesheet_link_tag 'layout' %>
	<%= stylesheet_link_tag 'main' %>
	<%= stylesheet_link_tag 'scaffold' %>
	<%= javascript_include_tag "application", "rollover" %>
</head>
<body>
	<div id="canvas">
		<div id="nav_main">
			<ul>
				<li><%= link_to image_tag(nav_image_path("main","home")), root_path %></li>
				<li><%= link_to image_tag(nav_image_path("main","about_us")), about_us_path %></li>
				<li><%= link_to image_tag(nav_image_path("main","jean_georges")), jean_georges_path %></li>
				<li id="concepts"><%= link_to image_tag(nav_image_path("main","concepts")), ""  %>
					<ul id="nav_concept">
						<li><%= link_to image_tag(nav_image_path("concepts","jean_georges")), ""  %></li>
						<li><%= link_to image_tag(nav_image_path("concepts","resort")), ""  %></li>
						<li><%= link_to image_tag(nav_image_path("concepts","spicemarket")), ""  %></li>
						<li><%= link_to image_tag(nav_image_path("concepts","bistro")), ""  %></li>
						<li><%= link_to image_tag(nav_image_path("concepts","kitchen")), ""  %></li>
						<li><%= link_to image_tag(nav_image_path("concepts","modern_american")), ""  %></li>
						<li><%= link_to image_tag(nav_image_path("concepts","steakhouse")), ""  %></li>
					</ul>
				</li>
				<li><%= link_to image_tag(nav_image_path("main","press")), ""  %></li>
				<li><%= link_to image_tag(nav_image_path("main","locations")), "" %></li>
				<li><%= link_to image_tag(nav_image_path("main","contact_us")), contact_us_path  %></li>
				<li><%= link_to image_tag(nav_image_path("main","careers")), careers_path %></li>
			</ul>
		</div><!-- nav_main -->
				
		<div id="sidebar">
			<object type="application/x-shockwave-flash" data="/swf/slideShow3.swf" width="236" height="666">
				<param name="allowScriptAccess" value="sameDomain" />
				<param name="allowFullScreen" value="false" />
				<param name="movie" value="/swf/slideShow3.swf" />
				<param name="flashvars" value="myXML=/xml/<%= @controller.action_name %>.xml" />
				<param name="quality" value="high" />
				<param name="bgcolor" value="#000000" />
				<img src="noflash.gif" width="200" height="100" alt="" />
			</object>
		</div><!-- sidebar -->
		
		<% if url_for == root_path %>
			<div id="home">
				<h1><span></span>Culinary Concepts :: Jean-Georges  - home</h1>
				
				<div id="tag">Local in content. Global in reach.</div>
				
				<div id="nav_home_concepts">
				<ul>
					<li><%= ["Jean Georges", "Resort", "Spice Market", "Bistro", "Kitchen", "Modern American", "Steakhouse"].collect {|l| link_to l,l}.join("</li>
					<li>") %></li>
				</ul>
				</div>
			</div>
		<% else %>
			<div id="masthead">
				<h1><span></span>Culinary Concepts :: Jean-Georges</h1>
			</div> <!-- masthead -->

			<div id="main_content">
				<div id="inner_content">
					<p id="flash"><%= flash[:notice] -%><%= flash[:message] -%></p>
					<%= yield  %>
				</div>
			</div> <!-- main_content -->
		<% end %>


		<div id="footer">
			<p id="site_info"><span id="footer_links"><%= ["Jean Georges", "Resort", "Spice Market", "Bistro", "Kitchen", "Modern American", "Steakhouse"].collect {|l| link_to l,l}.join(" &bull; ") %></span>&copy; <%= Date.today.year %> Culinary Concepts by Jean-Georges</p>
		</div> <!-- footer -->

	</div>
</body>
</html>
