<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>Photos: <%= controller.action_name %></title>
	<%= stylesheet_link_tag 'layout' %>
	<%= stylesheet_link_tag 'main' %>
	<%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
	<div id="canvas">
			
		<div id="nav_main">
			<ul>
				<li><%= link_to "Home", "", :class => ("curr" if @controller.controller_name =~ /home/)  %></li>
				<% if logged_in? %>
				<li><%= link_to "Signup", signup_path, :class => ("curr" if @controller.controller_name =~ /signup/)  %></li>
				<li><%= link_to "Roles", roles_path, :class => ("curr" if @controller.controller_name =~ /role/)  %></li>
				<% end %>
			</ul>	
		</div> <!-- nav_main -->

		<div id="masthead">
			<p>Masthead</p>
		</div> <!-- masthead -->

		<div id="sidebar">
			<p>Sidebar</p>
		</div> <!-- sidebar -->

		<div id="main_content">
			Main Content
			<p id="flash"><%= flash[:notice] -%><%= flash[:message] -%></p>


			<%= yield  %>

		</div> <!-- main_content -->

		<br class="clear" />

		<div id="footer">
			<p id="site_info">All content &copy; copyright <%= Date.today.year %> Dinshaw Design &amp; Development. All rights reserved. <%= logged_in? ? link_to('logout', logout_path) : link_to('login', login_path)%> | <%= render :partial => 'shared/credit_links' %></p>
		</div> <!-- footer -->
	
	</div>
</body>
</html>
